<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is the chek out from remotide </h1>
    <form action="/checkout" method="post">
        <label>checkout </label><input  type="submit" value="checkout"/>
    </form>
    
</body>
</html>