<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is the chek out from remotide </h1>
    <form action="/checkout" method="post">
        <label>checkout </label><input  type="submit" value="checkout"/>
       

    </form>
    <br/>
    <br/>
    <form action="/create-account" method="post">
        
        
        <label>create account</label><input  type="submit" value="create account"/>

    </form>
    <br/>
    <br/>
    <form action="/create-charge" method="post">
        
        <label>create charge</label><input  type="submit" value="create charge"/>

    </form>
    <br/>
    <br/>
    <form action="/create-payout" method="post">
        
        <label>create payout</label><input  type="submit" value="create payout"/>

    </form>
    <br/>
    <br/>
    <br/>
    <form action="/create-test-account" method="post">
        
        <label>create-test-account</label><input  type="submit" value="create-test-account"/>

    </form>

    
</body>
</html>